.App {
}

.App section,
.App header {
  width: 90vw;
  margin: 0 auto;
}

.App header nav {
  margin-bottom: 2rem;
}

.App header nav a {
  margin: 0 1rem;
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}
.App header nav a:hover,
.App header nav a.active {
  border-bottom: 2px solid #9EE6CF;
}

.App section article {
}
@media (min-width: 768px) {
  .App section article {
    float: left;
  }
}


