.Alert {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5vh 5vw;
  background: #F0EEC9;
  opacity: 0;
  transition: opacity 0.3s;
}

.Alert.active {
  opacity: 1;
}

.Alert p {
  margin: 0;
  color: #4BA2AC;
  font-size: 5vh;
}
