.CheckBox {
  position: relative;
  display: block;
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 5rem;
  font-size: 24px;
  text-transform: capitalize;
  cursor: pointer;
}

.CheckBox input,
.CheckBox:before,
.CheckBox.checked:after {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 26px;
  height: 26px;
  margin: -13px 0 0;
  cursor: pointer;
}

.CheckBox input {
  display: inline;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  opacity: 0;
  z-index: 100;
}

.CheckBox:before {
  content: '';
  border: 2px solid #F0EEC9;
}

.CheckBox.checked:after {
  content: '\2713';
  border: 2px solid transparent;
  text-align: center;
  line-height: 28px;
  color: #9EE6CF;
}
